.text-field,
.password-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 6px;
    -fx-border-color: #007acc;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-padding: 4 10;
    /* Slimmer padding */
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #999;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.03), 2, 0, 0, 1);
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #0096e0;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 224, 0.25), 4, 0, 0, 1);
}

ImageView {
    -fx-effect: dropshadow(gaussian, #00759e, 15, 0.3, 0, 0);
}

.button {
    -fx-font-family: "Corbel Bold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 25;
    -fx-cursor: hand;
    -fx-border-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.3, 1, 1);
}

.button:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.3, 0, 4);
}
.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.login-btn {
    -fx-background-color: linear-gradient(to right, #00BFFF, #1E90FF);
}
/*Sky Blue*/
.login-btn:hover {
    -fx-background-color: linear-gradient(to right, #1E90FF, #00BFFF);
}
/* reverse gradient on hover */

.userReg-btn {
    -fx-background-color: linear-gradient(to right, #4B61D1, #A8B4F9);
}
.userReg-btn:hover {
    -fx-background-color: linear-gradient(to right, #A8B4F9, #4B61D1);
}

.admin-btn {
    -fx-background-color: linear-gradient(to right, #041E42, #0A2F6B, #13407F, #1F52A0);
}
.admin-btn:hover {
    -fx-background-color: linear-gradient(to right, #1F52A0, #13407F, #0A2F6B, #041E42);
}
.eye-button {
    -fx-background-color: transparent;
    -fx-text-fill: #008fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}